<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207667024-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-207667024-1');
    </script>


</head>

<body>

    <header>
        {% block header %}{% endblock  %}
    </header>
    <main>
        {% block content %}
        {% endblock  %}
    </main>
</body>

</html>